*{
  box-sizing: border-box;
  font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  /*font-weight: lighter;*/
}
html,body,.wrapper{
  height:100%;
  width: 100%;
  padding:0;
  margin:0 auto;
}
/*
.wrapper::before{
  content:"";
  background: rgba(0,0,0,0.4);
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width: 100%;
}
*/

.wrapper{
  /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/45816/IMG_00000159_hdr.jpg'); */
  background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapershome.com%2Fimages%2Fwallpapers%2Fmacos-big-sur-1920x1080-road-apple-october-2020-event-5k-23117.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
}

.weather{
    position: relative;
    height: 320px;/*320pt;*/
    width: 240px; /*240pt;*/
    /*background: #7abcff; /* Old browsers *
    background: -moz-radial-gradient(center, ellipse cover,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ *
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ *
    background: -webkit-radial-gradient(center, ellipse cover,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ *
    background: -o-radial-gradient(center, ellipse cover,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 12+ *
    background: -ms-radial-gradient(center, ellipse cover,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ *
    background: radial-gradient(ellipse at center,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C *
    */
    background: #000000; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #000000 0%, #000000 44%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#000000), color-stop(44%,#000000), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #000000 0%,#000000 44%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #000000 0%,#000000 44%,#000000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #000000 0%,#000000 44%,#000000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #000000 0%,#000000 44%,#000000 100%); /* W3C */

    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-radius: 10px;
    /*top:calc(50% - 125px);
    left: calc(50% - 200px);*/
    border: 3px solid #FFFFFF;
    padding: 5px 5px;
    margin:0 auto; /*brings the tile horizontally in center*/
}

/*
.weather::after{
  width: 400px;
  height: 5px;
  background: red;
  position:absolute;
  top:15px;
}
*/

.containerLimit{
    display: flex;
    margin:0 auto;
}

.containerBottom{
    display: flex;
    margin-top: 5px;
}

.forecastContent{
    display: flex;
    margin-top: 5px;
    /*margin-top: 5px;
    margin-bottom: 5px;*/
}

.forecastEntry{
  width: 31%;
  /*height: 10px;*/
  padding: 0;
  /*margin: 5px 0px;*/
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: left;
  font-size: 11pt;
  /*text-transform: uppercase;*/
  color: white;
  font-weight: normal;
  position: relative;
}

.windEntry{
  width: 33%;
  height: 100%;
  margin-top: 3px;
  /*padding: 0;
  margin: 5px 0px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;*/
  text-align: left;
  font-size: 10pt;
  /*text-transform: uppercase;*/
  color: #FFFFFF;
  font-weight: normal;
  position: relative;
}

.forecastDay{
  text-align: center;
  font-size: 12pt;
  /*text-transform: uppercase;*/
  color: #FF8000;
  font-weight: normal;
  position: relative;
}
.sunIcon{
  /*width: 25pt;
  height: 25pt;*/
  text-align: center;
  position: relative;
  margin-top: 5px;
}
i[class*="wi-sun"]{
/*.wi-sunrise,.wi-sunset{*/
  color: #FF3F3F;
  font-size: 15pt;
}

i[class*="wi-sunrise"]{
/*.wi-sunrise,.wi-sunset{*/
  color: yellow;
  font-size: 15pt;
}

i[class*="wi-towards-"]{
/*.wi-sunrise,.wi-sunset{*/
  color: cyan;
  font-size: 18pt;
  text-align: center;
  position: relative;
}

.moonRing{
    color: #F2ECEC;
    font-size: 45pt;
    position: absolute;
    text-align:center;

}

i[class*="wi-moon-w"]{
  color: white;
  font-size: 45pt;
}

i[class*="wi-moon-t"]{
  color: white;
  font-size: 45pt;
}

i[class*="wi-moon-f"]{
  color: white;
  font-size: 45pt;
}

.moonEntry{
    text-align:center;
    width: 30%;
}

.forecastMinMaxTemp{
  margin-top: 5px;
  text-align: center;
  font-size: 12pt;
  color: #FFFFFF;
  font-weight: normal;
  position: relative;
}

.sunEntry{
  width:45%;
}

.sunrise50{
  width:100%;
  height:50%;
  display:flex;
}

.sunset50{
  width:100%;
  height:50%;
  display:flex;
}

.sun{
    width:100%;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
    font-size: 11pt;
    color: #FFFFFF;
    font-weight: normal;
}

.windSpeed{
  text-align: center;
  position: relative;
  color: #FFFFFF;
  font-size:11pt;
}

.windDir{
  text-align: center;
  position: relative;
  color: #FFFFFF;
  font-size:11pt;
}

.windDirection{
  height:50%;
  float:bottom;
  font-size: 14pt;
  text-align: center;
}

.city_name{
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
  text-align: center;
  font-size: 12pt;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: normal;
}

.current_time{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 10pt;
  float: right;
}
.weatherDescription{
  width: 100%;
  font-weight: bold;
  color: #A7A4D4;
  text-align: center;
  clear:both;
  margin-top: 5px;
  margin-bottom: 5px;

}
#weatherIcon{
    width: 60px;
    height:60px;
    float: left;
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.iconCurrent{
   width: 40%;
}

.forecastIcon{
   width: 100%;
   margin: auto;
   display: block;
   width: 40px;
   height: 40px;
}

.currentWeather{
  width: 60%;
  float: right;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
}

.currentTemp{
  font-size: 18pt;
  text-align: right;
  color: #FF8900;
}

.separator{
color: #00FFFF;
}

.limitCurrent{
  width: 60%;
  text-align: right;
  margin-right: 5px;
  font-size:10pt;
}

.uv{
width: 40%;
color: yellow;
text-align:left;
font-size:10pt;
}

.rain{
color: #A7A4D4;
font-size: 16pt;
text-align:right;
}

.rainGif{
    height: 17px;
    width: 40px;
    position: relative;
    float: right;
    margin: auto;
}

.clearfix{
  clear:both;
  width: 100%;
  border-top: 1px solid #FFFFFF;
}

.left,.date,.right{
  float: left;
  width: 33%;
  height: 35px;
  margin: 0 auto;
  padding: 0;
}

.left i, .right i{
  font-size: 38pt;
  color: #FFFFFF;
  position: relative;
  top: -5px;
}

.date{
  text-align: center;
  position: relative;
  top: -15px;
  color: #FFFFFF;
  font-size: 18pt;
}

.limitForecast{
  text-align: center;
}

.windIcon{
  text-align: center;
}

.center{
  text-align: center;
}

.right{
  text-align: right;

}
.spin {
  animation: spin 60s linear infinite,
    glow 10s linear infinite;
}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}
.wind{
  animation: wind 7.5s ease-in-out infinite;
}

@keyframes wind{
  50%{
     top: 30px;
     right: 15px;
  }
}

.glow{
  animation: ;
}

@keyframes glow{
  50%{
     text-shadow: 0 0 5px #fff;
  }
}